@use '@angular/material' as mat;

/* ===== Global Theme ===== */
html {
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* ===== Global Styles ===== */
body {
  margin: 0;
  min-height: 100vh;

  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

:root {
  @include mat.badge-overrides((
    background-color: var(--mat-sys-primary),
    text-color: var(--mat-sys-on-primary),
  ));
}

